.medullanExp-content {
    position: absolute;
    left: 12em;
    top: 10em;
}
.medullanExp-content h5{
    position: relative;
    left: 21em;
    top: 5.5em;
}
.medullanExp-content button{
    position: relative;
    left: 27em;
    top: 10em;
}
.vertical-line {
    position: absolute;
    left: 21em;
    top: 7.4em;
    background-color: #4025C2;
}
.medullan-box-top {
    width: 10em;
    height: 8em;
    position: absolute;
    left: 16em;
}
.title-top {
    position: absolute;
    z-index: 100;
    left: 16em;
    top: 1.5em;
}
.medullan-box-bottom {
    width: 10em;
    height: 8em;
    position: absolute;
    top: 20.4em;
    left: 16em;

}
.title-bottom {
     position: absolute;
    z-index: 100;
    left: 16em;
    top: 19.2em;
}
.make-request-line { 
    position: relative;
    top: 8.6em;
    left: 21em;
    height: 2px;
    background: #000;
}

.returned-skills {
    position: relative !important;
    top: 10em !important;
    left: 31em !important;
}
.return-skills-line {
    position: relative;
    top: 7em;
    left: 21em;
    height: 2px;
    background: #000;
    width: 29.75em;
}
.return-arrow-pointer {
    position: relative;
    left: 21em;
    top: 5.75em;
}

