.medullanExp-content h5{
    z-index: 100;
    position: relative;
    bottom: 8em;
    left: 17%;

}
.vertical-line {
    position: relative;
    right: 22.5%;
    bottom: 4.8em;
    background-color: #4025C2;
}
.medullan-box-top {
    width: 25%;
    height: 8em;
    position: relative;
    left: 5em;
    top: 2em;
}
.title-top {
    z-index: 100;
    position: relative;
    bottom: 5em;
    left: 19%;
}
.medullan-box-bottom {
    width: 25%;
    height: 8em;
    position: relative;
    left: 5em;
    bottom: 5.6em;
}
.title-bottom {
    z-index: 100;
    position: relative;
    left: 19%;
    bottom: 11em;
}
.make-request-line { 
    position: relative;
    top: 8.6em;
    left: 21em;
    height: 2px;
    background: #000;
}

.returned-skills {
    position: relative !important;
    top: 10em !important;
    left: 31em !important;
}
.return-skills-line {
    position: relative;
    top: 7em;
    left: 21em;
    height: 2px;
    background: #000;
    width: 29.75em;
}
.return-arrow-pointer {
    position: relative;
    left: 21em;
    top: 5.75em;
}

