.lavExp-content h5 {
   position: relative;
    bottom: 11em;
}
.vertical-line {
    position: relative;
    bottom: 8.2em;
    background-color: #4025C2;
}
.lavExp-box-top {
    width: 100%;
    height: 8em;    
}
.title-top {
    position: relative;
    bottom: 7em;
    width: 5em;
    text-align: center;
    left: 1.5em;
}
.lavExp-box-bottom {
    width: 100%;
    height: 8em;
    position: relative;
    bottom: 8.95em;
}
.title-bottom {
    position: relative;
    bottom: 15em;
    width: 5em;
    left: 1.5em;

}