.content{
    background-color: #ecf0f1;
}
.experience-header {
    position: absolute;
    left: 42em;
    top: 20em;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}
.arrow1{
    height: 1em;
    width: 10em;
    position: absolute;
    z-index: 100;
    left: 23.4em;
    top: 19em;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}
.arrow2{
    height: 1em;
    width: 10em;
    position: absolute;
    z-index: 100;
    left: 32.4em;
    top: 19.5em;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}
.arrow3{
    height: 1em;
    width: 10em;
    position: absolute;
    z-index: 100;
    left: 41.4em;
    top: 20.5em;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;
}
.medullan-request-line-start {
    border-top: dotted 2px;
    position: relative;
    left: 5.3em;
    top: 13.5em;
    width: 0;
    height: 0;
}
.medullan-request-line {
    border-top: dotted 2px;
    position: relative;
    left: 5em;
    top: 13.5em;
    width: 33em;
    height: 0;
    transition: width 4s;
}
.request-line-start {
    border-top: dotted 2px;
    position: relative;
    left: 21em;
    top: 7em;
    width: 34em;
}
.arrowPointer {
    position: absolute;
    z-index: 100;
    top: 22.45em;
    left: 66em;
}
.request-line {
    width: 34em;
    height: 2em;
    transition: width 2s;
}
.medullan-request-button {
    position: relative;
    left: 43.5em;
    top: 19.5em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.sent-to-background {
    opacity: .25;
}