.contact-info-box {
    position: absolute;
    width: 18em;
    height: 11em;
    top: 19em;
    right: 71.3em;
}
a {
 text-decoration: none;   
 color: black;
 cursor: pointer;
 line-height: 1.75em;
}
.contact-info-text {
    position: absolute;
    z-index: 100;
    top: 21em;
    left: 1.2em;
    width: 16em;
}
.github-link {
    
}
