.skillSetsBox {
    width: 18em;
    height: 28em;
    position: absolute;
    left: 66em;
    bottom: 5em;
}
.skillSetsBox-content {
    position: absolute;
    z-index: 100;
    left: 66em;
    top: 16em;
    line-height: 1.75em;

}
.skillSets-list {
    list-style: none;
}