<img src="../../../assets/bubbleBox.png" alt="" class="skillSetsBox">
<div class="skillSetsBox-content">
    <ul class="skillSets-list">
        <li>AngularJS and Angular</li>
        <li>Custom Amazon Alexa Skills</li>
        <li>Node JS</li>
        <li>Native iOS with Swift</li>
        <li>Native Android with Java</li>
        <li>Git, Github, and Gitflow</li>
        <li>Agile</li>
        <li>Grunt and Gulp</li>
        <li>Proven Leadership Skills</li>
        <li>Excellent Communication Skills</li>
    </ul>
</div>
